
.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;

}

.menu a {
	display: block;
	width: 100px;
}

.menu li {
	display: inline-block;
}

body {
	padding: 20px 10px;
	font-family: Helvitica;
	max-width: 2000px;
	margin: 0 auto;
	font-size: 1.4em;
}

h1 {
	text-align: center;
	color: #294860;
}

p {
	margin: 10px 0;
}

ul {
	list-style-type: none;
}

li {
	font-size: 20px;
	line-height: 44px;
}

.lesson {
	background-color: #294860;
	border-radius: 20px;
	color: #fff;
	padding: 10px;
	margin: 10px auto;
}

h2 {
	margin: 10px;
	color: #294860;
}

.concept {
	background-color: #dfeaf1;
	padding: 4px;
	margin: 10px;
	border-radius: 4px;
	color: black;
}

.concept-title {
	font-size: 28px;
	margin: 8px;
	text-align: center;
	color: #294860;
}

.concept-description {
	font-weight: lighter;
	margin: 6px;
}

.code {
	font-family: Courier;
	color: black;
	font-weight: bold;
	padding: 0 4px 0 4px;
}















